<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pf.mr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".screens.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.CardFlipActivity"
            android:label="@string/title_card_flip"
            android:parentActivityName=".screens.DisplaySetListNVRVActivity"
            android:theme="@style/DarkTheme" />

        <activity
            android:name=".screens.display_set_stats.RehearsalFinishedActivity"
            android:label="@string/title_activity_rehearsal_finished"
            android:theme="@style/AppThemeDark.NoActionBar" />

        <activity
            android:name=".screens.DisplaySetListNVRVActivity"
            android:label="@string/title_activity_display_set_list_nvrv"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".screens.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".screens.DisplaySetListNVRVActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
